@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
* {
    box-sizing: border-box;
}
body {
    font-family: 'Inconsolata', monospace;
    padding: 0;
    margin: 0;
    color: #404040;
    background: #FFF;
    font-weight: 300;
    letter-spacing: .05em;
}
.header-section {
    border-bottom: 1px solid #EAEAEA;
    padding: 150px 0;
    background-color: #f5f8f5;
}
.header-section .page-heading {
    text-align: center;
    color: #fff;
}
.header-section .page-heading h1 {
    font-size: 46px;
    font-weight: 800;
    letter-spacing: 2px;
    font-family: 'Unica One', cursive;
    margin: 0;
    color: #2e2e2e;
}
.header-section .page-heading hr {
    max-width: 100px;
    margin: 15px auto;
    border-radius: 3px;
    border: 1px solid #69c46e;
}
.header-section .page-heading .page-subheading {
    font-size: 18px;
    margin: 10px 0 0;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    color: #2e2e2e;
    line-height: 26px;
}
.article-section {
    margin: auto;
    padding: 20px 0 40px 0;
}
.article-section .article {
    margin: auto;
    width: 50%;
    text-align: left;
    padding: 20px 20px 40px 20px;
    border-bottom: 1px solid #eee;
}
.article-section .article .article-title {
    font-size: 28px;
    letter-spacing: 1px;
    font-family: 'Unica One', cursive;
    text-transform: uppercase;
    color: #2e2e2e;
    margin: 0 0 5px 0;
    border-bottom: 2px solid #2e2e2e;
    display: inline-block;
}
.article-section .article .article-subtitle {
    font-size: 18px;
    font-weight: lighter;
    margin: 0 0 8px 0;
    font-family: 'Lato', sans-serif;
}
.article-section .article .article-date {
    color: #808080;
    font-size: 16px;
    font-style: italic;
    font-family: 'Lato', sans-serif;
}
.article-section .article .article-image {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}
.article-section .article .technologies {
    margin: 0 0 30px 0;
    font-family: 'Lato', sans-serif;
}
.article-section .article .technologies h3 {
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 18px;
    line-height: 32px;
}

.article-section .article .technologies p {
    font-size: 18px;
    line-height: 26px;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

a {
    color: #2e2e2e;
    background: #fff;
    border: 2px solid #69c46e;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
a:hover {
    background-color: #69c46e;
    color: #fff;
}
.footer {
    padding: 70px 0;
}
.footer .credits-copyright {
    padding: 10px 0;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .header-section {
        padding: 40px 0;
    }
    .header-section .page-heading h1 {
        font-size: 28px;
        margin: 0;
    }
    .header-section .page-heading .page-subheading {
        font-size: 16px;
    }
    .article-section {
        padding: 30px 0;
    }
    .article-section .article {
        width: 100%;
    }
    .article-section .article .article-title {
        font-size: 24px;
    }
    .article-section .article .article-subtitle {
        font-size: 20px;
    }
    .article-section .article .article-date {
        font-size: 18px;
    }
    .article-section .article .article-image {
        height: 200px;
    }
    .article-section .article .article-entry {
        font-size: 18px;
    }
    .article-section .article .technologies {
        margin: 0 0 26px 0;
    }
    a {
        padding: 6px 12px;
    }
}
